*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* COLORS */
.bg-fucsia{
    background-color:#b91450;
}

.bg-button-grey{
    background-color: #cccccc;
}

.bg-darkgrey{
    background-color: #808080;
}

/* ---------------- */

/* CLASSE BOTTONI */

.btn-outline-black{
    color: #000;
    border-color:#000 ;
}

/* -------------- */

/* CAMBIO SFONDO E COLORE DEL BOTTONE ALL'ACTIVE */
#travel-data #buttons button:active{
    background-color: #b91450;
    color: #fff;
}

/* -------------------- */


#your-ticket p {
    font-weight: bold;
}    

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

