*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.m-3{
    margin: 1rem;
}

.fs-20{
    font-size: 20px;
}

#your-ticket p {
    font-weight: bold;
}    

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}